@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins';
}

button, div {
    -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
  font-family: 'Poppins' !important;
}

body{
    margin: 0;
    height: 100vh !important;
}

#root{
    width: 100%;
    height: 100%;
}

.fundo-login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-card {
    width: 50%;
    height: 90%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-image{
    width: 100%;
    height: 40%;
    background-image: url('../imgs/login_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7%;
    border-radius: 8px 8px 0px 0px;
}

.titulo-login{
    font-size: 1.7em;
    font-weight: bolder;
    color: #FFFFFF;
}

.titulo-cadastrarse{
    margin-top: 5%;
    padding: 5%;
    font-size: 1.8em;
    font-weight: bolder;
    color: #000000;
}

.overlay-login {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
}

.grupo-input {
    width: 100%;
    margin: 4% 0%;
    display: flex;
    justify-content: center;
}

.grupo-input:active {
    border: none;
}

.agrupar-campo-icone {
    width: 50%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.campo-obrigatorio {
    border-bottom: 1px solid #FF3333 !important;
}

.campo-input {
    width: 90%;
    padding: 1%;
    border: none;
    outline: none;
    font-size: 0.9em;
}

.btn-login-cadastrar {
    cursor: pointer;
    width: 50%;
    height: 40px;
    padding: 1%;
    margin-top: 1vh;
    background: #FF4D4D;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
}

.btn-login-cadastrar:hover{
    background: #FF3333;
}

.btn-fechar-modal {
    cursor: pointer;
    padding: 7px;
    background: #ffff4d;
    color: #000000;
    font-weight: bolder;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
    margin: 7px;
    right: 0;
    position: fixed;
}

.btn-fechar-modal:hover{
    background: #ffff00;
}

.link-login {
    color: #A6A6A6;
    font-size: 0.9em;
}

.icone {
    color: gray;
}

.icone-senha {
    cursor: pointer;
    color: gray;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.fechar-modal { 
    cursor: pointer;
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 2vh;
}

.modal-conteudo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}

.modal-header {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 8px 8px 0px 0px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

.modal-footer {
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

.fundo-aplicacao {
    background: #FFFFFF;
    height: 100vh;
}

.fundo-area-administrativa {
    background: #F1F1F1;
}

.fundo-opcao {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardapio-image{
    width: 30%;
    height: 70%;
    background-image: url('../imgs/cardapio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin: 2%;
}

.conectar-mesa-image{
    width: 30%;
    height: 70%;
    background-image: url('../imgs/conectar_mesa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin: 2%;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.titulo-opcao{
    font-size: 1.7em;
    font-weight: bolder;
    color: #FFFFFF;
}

.overlay-opcao {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s linear;
    cursor: pointer;
}

.overlay-opcao:hover {
    background: rgba(0,0,0,0.6);
}

.header {
    padding: 20px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.header-area-administrativa {
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: #707070;
}

.header-area-administrativa .acao{
    font-size: 1.6em;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.header-area-administrativa .acao i{
    margin-left: 7px;
    cursor: pointer;
}

.imagem-restaurante {
    width: 60px;
    height: 85%;
    background-image: url('../imgs/pedeaqui.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.voltar {
    cursor: pointer;
    padding: 4px;
    font-size: 1.4em;
}

.buscar {
    cursor: pointer;
    padding: 4px;
    font-size: 1.2em;
}

.sair {
    cursor: pointer;
    padding: 4px;
    font-size: 1.2em;
}

.tab{
    display: flex;
    justify-content: center;
}

.tabpane{
    border: none;
    width: 170px;
    height: 40px;
    background-color: transparent;
    color: #000000;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.tabpane-active{
    border: none;
    width: 170px;
    height: 40px;
    background-color: #D72424;
    color: #FFFFFF;
    border-radius: 30px;
    font-weight: bolder;
    box-shadow: 0px 0px 10px -2px #000000;
    cursor: pointer;
}

.identificar-mesa {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.qr-code{
    display: flex;
    justify-content: center;
}

.qr-code section{
    width: 20%;
}

.qr-code section section{
    border-radius: 5px;
}

.qr-code section section div{
    box-shadow: #D72424 0px 0px 0px 5px inset !important;
    border-style: dashed;
}

/*
    Correção de bug SWEETALERT
*/
body.swal2-height-auto{
    height: 100vh !important;
}

.navigation{
    position: fixed;
    width: 80vw;
    height: 50px;
    background-color: #D72424;
    color: #FFFFFF;
    border-radius: 30px;
    top: 90%;
    left: 10vw;
    box-shadow: 0px 0px 10px -4px #000000;
}

.navigation-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
    font-size: 19px;
}

.navigation-item a{
    cursor: pointer;
    color: #FFFFFF;
}

.navigation-item a i:hover{
    font-size: 20px;
}

.nome-estabelecimento{
    text-align: center;
}

.item-cardapio{
    margin-left: 5%;
    width: 90%;
    display: flex;
    margin-bottom: 5%;
}

.item-cardapio-informacoes{
    margin-left: 12%;
    border-radius: 50px;
    width: 90%;
    min-height: 90px;
    background-color: #F0F0F0;
    display: flex;
}

.info-item-cardapio{
    margin-left: 2%;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.item-cardapio-imagem{
    margin-left: -55px;
    display: flex;
    align-items: center;
}

.item-cardapio-sem-imagem{
    width: 70px;
    padding: 5px;
    margin-left: 5px;
}

.item-cardapio-imagem img{
    height: 80px;
    object-fit: contain;
}

.item-cardapio-title{
    font-size: 0.9em;
}

.item-cardapio-descricao{
    font-size: 0.7em;
    text-align: justify;
}

.item-cardapio-valor{
    font-size: 0.8em;
}

.valor-antigo-item-cardapio{
    color: #D72424;
    padding-left: 7px;
    text-decoration: line-through;
    font-weight: bolder;
    font-size: 0.75em;
}

.item-cardapio-add{
    font-size: 1.2em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
    text-decoration: none;
    cursor: default;
    width: 20%;
}

.item-cardapio-add i{
    cursor: pointer;
}

.listagem-categorias{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    display: flex;
    overflow: auto;
}

.item-categoria{
    width: 70px;
    padding: 2%;
}

.imagem-categoria{
    width: 70px;
}

.nome-categoria{
    font-size: 0.7em;
    text-align: center;
}

.carousel{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.item-carousel{
    flex: none;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
    display: grid;
    place-items: center;
}

.imagem-carousel{
    height: 85%;
    object-fit: contain;
}

.carousel::-webkit-scrollbar {
    height: 5px; 
}

.carousel::-webkit-scrollbar-track {
    background: transparent;  
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #D72424;
    border-radius: 20px;      
    border: none;
}

.info-detalhe-item-cardapio{
    padding: 0px 20px;
}

.item-detalhe-item-cardapio{
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: -8px;
}

.descricao-detalhe-item-cardapio{
    text-align: justify;
    margin-bottom: -8px;
}

.valor-detalhe-item-cardapio{
    font-size: 20px;
    font-weight: bolder;
}

.titulo-detalhe-item-cardapio{
    font-size: 20px;
    font-weight: bolder;
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 1px;
    margin-top: 4px;
}

.opcoes{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.nome-opcao{
    font-size: 18px;
    margin-bottom: -8px;
}

.nome-opcao-escolha{
    font-size: 18px;
}

.valor-opcao{
    font-size: 16px;
    font-weight: bolder;
}

.icone-opcao{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.separar-itens{
    border: 0;
    border-bottom: 1px solid #C1C1C1;
}

.observacao-detalhe-item-cardapio{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.observacao-detalhe-item-cardapio textarea{
    width: 90%;
    border-radius: 6px;
    outline: none;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #B0B0B0;
}

.adicionar-detalhe-item-cardapio{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #D72424;
}

.acao-adicionar-detalhe-item-cardapio{
    cursor: pointer;
}

.valor-adicionar-item-cardapio{
    display: flex;
    align-items: center;
}
 
.valor-adicionar-item-cardapio i{
    font-size: 1.2em;
}

.total-item-cardapio{
    padding: 0px 0px 0px 20px;
}

.remover-adicionados{
    color: #D72424;
}

.carrinho{
    position: fixed;
    width: 55px;
    height: 55px;
    background-color: #F8C40B;
    color: #FFFFFF;
    border-radius: 20px;
    top: 81%;
    right: 10vw;
    transform: rotate(45deg);
    display: grid;    
    place-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px #000000;
}

.carrinho-conteudo{
    transform: rotate(-45deg);
    display: flex;
}

.carrinho i{
    font-size: 1.3em;
    margin-left: -5px;
}

.carrinho-itens-quantidade{
    color: #FFFFFF;
    background-color: #D72424;
    width: 13px;
    height: 13px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    font-weight: bolder;
    margin-left: 15px;
    margin-top: -7px;
    position: absolute;
}

.item-carrinho{
    margin-left: 5%;
    width: 90%;
    display: flex;
    margin-bottom: 15px;
}

.item-carrinho-informacoes{
    border-radius: 10px;
    width: 100%;
    min-height: 90px;
    box-shadow: 0px 0px 10px -6px #000000;
    display: flex;
}

.info-item-carrinho{
    margin-left: 2%;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.item-carrinho-imagem{
    display: flex;
    align-items: center;
}

.item-carrinho-imagem img{
    height: 80px;
    object-fit: contain;
}

.item-carrinho-title{
    font-size: 0.9em;
}

.item-carrinho-valor{
    margin-top: 3px;
    font-size: 0.8em;
    color: #00C908;
}

.item-carrinho-adicionados{
    margin-top: 3px;
    font-size: 0.8em;
}

.item-carrinho-remover{
    height: 100%;
    width: 30%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}

.item-carrinho-remover div{
    text-align: center;
    background-color: #D72424;
    padding: 3px 0px;
    width: 85%;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.itens-carrinho-mesa{
    width: 90%;
    margin-left: 5%;
    background-color: #F5F5F5;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px -6px #000000;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.itens-carrinho-mesa .identificacao{
    font-size: 1.5em;
    font-weight: bolder;
    height: 35px;
}

.itens-carrinho-mesa .valor{
    font-size: 1.3em;
    font-weight: bolder;
    height: 35px;
    color: #D72424;
}

.itens-carrinho-confirmar-pedido{
    background-color: #D72424;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}


.item-pedido{
    margin-left: 5%;
    width: 90%;
    display: flex;
    margin-bottom: 15px;
}

.item-pedido-informacoes{
    border-radius: 10px;
    width: 100%;
    min-height: 90px;
    box-shadow: 0px 0px 10px -6px #000000;
    display: flex;
}

.info-item-pedido{
    margin-left: 2%;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.item-pedido-imagem{
    display: flex;
    align-items: center;
}

.item-pedido-imagem img{
    height: 80px;
    object-fit: contain;
}

.item-pedido-title{
    font-size: 0.9em;
}

.item-pedido-valor{
    margin-top: 3px;
    font-size: 0.8em;
    color: #00C908;
}

.item-pedido-adicionados{
    margin-top: 3px;
    font-size: 0.8em;
}

.item-pedido-acao-status{
    height: 100%;
    width: 30%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.7em;
}

.item-pedido-acao-remover{
    text-align: center;
    background-color: #D72424;
    padding: 3px 0px;
    width: 85%;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.item-pedido-usuario{
    margin-top: 5px;
    font-size: 0.7em;
}

.itens-pedido-mesa{
    width: 90%;
    margin-left: 5%;
    background-color: #F5F5F5;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px -6px #000000;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.itens-pedido-mesa .identificacao{
    font-size: 1.5em;
    font-weight: bolder;
    height: 35px;
}

.itens-pedido-mesa .valor{
    font-size: 1.3em;
    font-weight: bolder;
    height: 35px;
    color: #D72424;
}

.item-pedido-status-em-espera{
    margin-bottom: 7px;
    font-size: 0.9em;
    text-align: center;
    background-color: #EFEFEF;
    padding: 5px 2px;
    width: 85%;
    color: #000000;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.item-pedido-status-preparando{
    margin-bottom: 7px;
    font-size: 0.9em;
    text-align: center;
    background-color: #F8C40B;
    padding: 5px 2px;
    width: 85%;
    color: #000000;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.item-pedido-status-pronto{
    margin-bottom: 7px;
    font-size: 0.9em;
    text-align: center;
    background-color: #1724A0;
    padding: 5px 2px;
    width: 85%;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.item-pedido-status-entregue{
    margin-bottom: 7px;
    font-size: 0.9em;
    text-align: center;
    background-color: #00C908;
    padding: 5px 2px;
    width: 85%;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -4px #000000;
}

.sidebar-pages{
    display: flex;
}

.sidebar{
    width: 300px;
    min-height: 100vh;
    background-color: #D72424;
    color: #FFFFFF;
    border-top-right-radius: 30px;
    padding: 10px;
}

.pages-area-administrativa{
    padding: 30px;
    width: 100%;
}

.sidebar .pedeaqui{
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
}

.item-sidebar{
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.8em;
    margin-top: 15px !important;
}

.item-sidebar a{
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.item-sidebar i{
    font-size: 1.1em;
    margin-left: 10px;
}

.item-sidebar label{
    margin-left: 15px;
    cursor: pointer;
}

.item-sidebar-ativo{
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #F8C40B;
    margin-left: 10px;
    box-shadow: 0px 0px 5px 0px #000000;
}

.item-sidebar-desativado{
    width: 7px;
    height: 7px;
    margin-left: 10px;
}

.conteudo-setores{
    width: 100%;
    display: row;
}

.item-pedido-area-administrativa{
    padding: 10px;
    width: 30%;
    float: left;
}

.item-pedido-area-administrativa-card{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 20px -8px #000000;
    border-radius: 15px;
}

.item-pedido-area-administrativa-card .detalhes{
    padding: 7px;
    height: 250px;
    overflow-y: auto;
}

.item-pedido-area-administrativa-card .detalhes::-webkit-scrollbar {
    width: 3px; 
}

.item-pedido-area-administrativa-card .detalhes::-webkit-scrollbar-track {
    background: transparent;  
}

.item-pedido-area-administrativa-card .detalhes::-webkit-scrollbar-thumb {
    background-color: #D72424;
    border-radius: 20px;      
    border: none;
}

.item-pedido-area-administrativa-card .mesa{
    font-size: 1.3em;
    font-weight: bolder;
}

.item-pedido-area-administrativa-card .item{
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    color: #D72424;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-pedido-area-administrativa-card .observacao{
    margin-top: 15px;
}

.item-pedido-area-administrativa-card .item-detalhes{
    font-weight: bolder;
    font-size: 0.8em;
}

.item-detalhes .descricao-observacao{
    color: #D72424;
}

.item-pedido-area-administrativa-card ul{
    margin-top: 5px;
    padding-inline-start: 20px !important;
    margin-bottom: 5px;
}

.item-pedido-area-administrativa-card .extras{
    color: #757575;
    font-weight: bolder;
    font-size: 0.9em;
}

.item-pedido-area-administrativa-card .extras-escolha{
    color: #D72424;
}

.item-pedido-area-administrativa-card .acao{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.item-pedido-area-administrativa-card .em-espera{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #D72424;
    color: #FFFFFF;
}

.item-pedido-area-administrativa-card .preparando{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #D72424;
    color: #FFFFFF;
}

.item-pedido-area-administrativa-card .pronto{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #00C908;
    color: #FFFFFF;
}

.item-pedido-area-administrativa-card .pronto-salao{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #00C908;
    color: #FFFFFF;
}

.item-pedido-area-administrativa-card .entregue{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #00C908;
    color: #FFFFFF;
}

.select-filtro-area-administrativa{
    margin-bottom: 30px;
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 12px;
    outline: none;
    -webkit-appearance: none;
}

.item-cardapio-area-administrativa{
    padding: 10px;
    width: 30%;
    float: left;
}

.item-cardapio-area-administrativa-card{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 20px -8px #000000;
    border-radius: 15px;
}

.item-cardapio-area-administrativa-card .detalhes{
    padding: 7px;
    height: 250px;
    overflow-y: auto;
}

.item-cardapio-area-administrativa-card .detalhes::-webkit-scrollbar {
    width: 3px; 
}

.item-cardapio-area-administrativa-card .detalhes::-webkit-scrollbar-track {
    background: transparent;  
}

.item-cardapio-area-administrativa-card .detalhes::-webkit-scrollbar-thumb {
    background-color: #D72424;
    border-radius: 20px;      
    border: none;
}

.item-cardapio-area-administrativa-card .item{
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-cardapio-area-administrativa-card .item-valor{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bolder;
    color: #D72424;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-cardapio-area-administrativa-card .observacao{
    margin-top: 15px;
}

.item-cardapio-area-administrativa-card .item-detalhes{
    font-weight: bolder;
    font-size: 0.8em;
}

.item-cardapio-area-administrativa-card ul{
    margin-top: 5px;
    padding-inline-start: 20px !important;
    margin-bottom: 5px;
}

.item-cardapio-area-administrativa-card .extras{
    color: #757575;
    font-weight: bolder;
    font-size: 0.9em;
}

.item-cardapio-area-administrativa-card .extras-escolha{
    color: #D72424;
}

.item-cardapio-area-administrativa-card .acao{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.item-cardapio-area-administrativa-card .item-cardapio-detalhes{
    font-size: 0.7em;
    font-weight: bolder;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #D72424;
    color: #FFFFFF;
    text-decoration: none;
}

.add-item-cardapio{
    font-size: 0.9em;
    font-weight: bolder;
    width: 30%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -6px #000000;
    background-color: #D72424;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

.area-administrativa-cardapio .select-filtro-area-administrativa{
    margin-top: 30px;
}

.box-card-detalhe-item-cardapio{
    border-radius: 10px;
    padding: 30px 30px 50px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -6px #000000;
    display: flex;
    flex-direction: column;
}

.box-card-detalhe-item-cardapio .titulo{
    font-size: 1.3em;
    font-weight: bolder;
}

.box-card-detalhe-item-cardapio .grupo-input{
    justify-content: center;
    float: left;
    width: 50%;
    margin: 10px 0px;
}

.box-card-detalhe-item-cardapio .agrupar-campo-icone{
    width: 96%;
}

.campo-2{
    width: 50%;
    float: left;
    margin-top: 5px;
}

@media (max-width: 1000px){

    .box-card{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0px;
    }

    .login-image{
        width: 100%;
    }

    .login-image{
        border-radius: 0px;
    }

    .overlay-login {
        border-radius: 0px;
    }

    .fundo-opcao {
        flex-direction: column;
    }

    .cardapio-image{
        width: 80%;
        height: 45%;
    }
    
    .conectar-mesa-image{
        width: 80%;
        height: 45%;
    }

    .header {
        padding: 15px;
    }
    
    .header-area-administrativa {
        padding: 15px;
    }

    .qr-code section{
        width: 40%;
    }

}

@media (max-width: 1200px){

    .item-pedido-area-administrativa{
        width: 46%;
    }
    
    .item-cardapio-area-administrativa{
        width: 46%;
    }


}

@media (max-width: 880px){

    .box-card-detalhe-item-cardapio .grupo-input{
        width: 100%;
    }
    
    .box-card-detalhe-item-cardapio .agrupar-campo-icone{
        width: 100%;
    }

    .campo-2{
        width: 100%;
    }

}

@media (max-width: 800px){

    .item-pedido-area-administrativa{
        width: 98%;
    }

    .item-cardapio-area-administrativa{
        width: 98%;
    }

}

@media (max-width: 550px){

    .btn-login-cadastrar {
        width: 80%;
    }

    .agrupar-campo-icone {
        width: 80%;
    }

    .grupo-input {
        width: 100%;
        margin: 10% 0%;
    }

    .header {
        padding: 10px;
    }
    
    .header-area-administrativa {
        padding: 10px;
    }

    .qr-code section{
        width: 80%;
    }

}